$cBlack: rgb(48, 48, 48);
$cSubBlack: rgb(82, 82, 82);
@import 'modules/mixin';
@import 'breakpoints/base';
@import 'modules/hero-slider';
// @import 'modules/text-animation';
@import 'modules/appear';
@import 'modules/scroll-down';
@import 'modules/image-slide';
@import 'modules/accordion';
@import 'modules/svg-animation';

@media (min-width:600px) {
  @import 'breakpoints/600up';
}

@media (min-width:960px) {
  @import 'breakpoints/960up';
}

@media (min-width:1200px) {
  @import 'breakpoints/1200up';
}